.footer1-footer-container {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: #fff;
  padding: 40px 30px;
  padding-left: 60px;
  gap: 20px;
}

.footer1-footer-section {
  flex: 1;
  max-width: 300px;
}

.footer1-footer-left {
  text-align: left;
}

.footer1-footer-center {
  text-align: left;
}

.footer1-footer-right {
  text-align: left;
}

.footer1-footer-title {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.footer1-footer-description {
  font-size: 0.9em;
  line-height: 1.6;
}

.footer1-footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer1-footer-links li {
  margin-bottom: 8px;
}

.footer1-footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.footer1-footer-links a:hover {
  color: #666;
}

.footer1-footer-address,
.footer1-footer-email,
.footer1-footer-phone {
  margin-bottom: 10px;
}

.footer1-footer-social-icons {
  display: flex;
  margin-left: -15px;
}

.footer1-social-icon {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 15px;
  color: #fff;
  transition: color 0.3s ease;
}

.footer1-social-icon:hover {
  color: #666;
}

@media (max-width: 700px) {
  .footer1-footer-container {
    flex-direction: column;
    padding: 40px 30px;
    }

  .footer1-footer-section {
    flex: 1;
    max-width: none;
    padding: 20px 40px;
  }

  .footer1-footer-right {
    text-align: center;
  }

  .footer1-footer-left {
    text-align: center;
  }

  .footer1-footer-center {
    text-align: center;
  }

  .footer1-footer-social-icons {
    justify-content: center;
    margin-left: -15px;
  }
  
}
