.image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.image2-image-container {
  width: 300px;
  height: 450px; /* Adjust height as needed */
  overflow: hidden;
  position: relative;
  margin: 0 10px; /* Adjust as needed for spacing between images */
    border-radius: 18px;
}

.image2-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  cursor: pointer;
}

.image2-image-container img:hover {
  transform: scale(1.1);
  filter: brightness(0.6);
}
