.display2-full-width-image {
  width: 100%;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.display2-full-width-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  cursor: pointer;
}

.display2-full-width-image img:hover {
  transform: scale(1.1);
  filter: brightness(0.6);
}
