.footer2-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f1f1f;
  color: #fff;
  padding: 60px 20px;
  font-family:'Franklin Gothic Medium',Arial, sans-serif;
}

.footer2-section {
  flex: 1;
}

.footer2-left {
  text-align: center;
}

.footer2-right {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer2-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.footer2-social-icons {
  display: flex;
  justify-content: center;
}

.footer2-social-icon {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.footer2-social-icon:hover {
  color: rgb(61, 207, 255);
}

.footer2-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  max-width: 88%;
}

.footer2-form input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

.footer2-form button {
  padding: 10px 20px;
  background-color: rgb(61, 207, 255);
  color: #1f1f1f;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.footer2-form button:hover {
    filter: brightness(0.8);
}

.footer2-form button:hover {
  background-color: rgb(61, 207, 255);
}

@media (max-width: 700px) {
  .footer2-container {
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
  }

  .footer2-form {
    margin-top: -6px;
  }
}
