.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 20px;
  color: white;
}

.logo1 {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-list1 {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list1 li {
  margin-right: 20px;
}

.nav-list1 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.1s ease-in-out;
}

.nav-list1 a:hover {
  filter: brightness(0.8);
}
