body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar1-title {
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  font-size: 21px;
}

.navbar1 {
  position: sticky;
  top: 0;
  left: 0;
}

.navbar1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff; /* Set your background color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
}

.navbar1-left {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
}

.navbar1-left:hover {
  color: rgb(68, 68, 68);
}

.navbar1-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #333; /* Set your logo color */
}

.navbar1-menu-button {
  display: none;
  cursor: pointer;
}

.navbar1-links {
  display: flex;
  align-items: center;
}

.navbar1-links.show-menu {
  display: flex;
}

.navbar1-link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar1-link:hover {
  color: #007bff;
}

@media (max-width: 700px) {
  .navbar1-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    border-top: 1px solid rgb(230, 230, 230);
    padding-bottom: 8px;
  }
}

@media (max-width: 700px) {
  .navbar1-menu-button {
    display: block;
  }
}

@media (max-width: 700px) {
  .navbar1-link {
    margin: 14px 0;
  }
}
